/*
Name: thetalkingcat's cubeshot.io css
Version: v1.1.2

Use Stylus Extension to inject this css
*/

/* Rainbow Text*/
@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}
.text[data-me=true].svelte-1jdbwvh.svelte-1jdbwvh {
    animation: rainbow 2.5s linear infinite;
}

endboard-player[data-isYou=true].svelte-11jxrum.svelte-11jxrum.svelte-11jxrum {
    animation: rainbow 2.5s linear infinite;
}

strong.svelte-10o8s4f {
    font-size: 3.5vw;
    font-weight: 700;
    animation: rainbow 2.5s linear infinite
}

/* Game Timer*/
game-time.svelte-sswfbw {
    position: fixed;
    top: 0;
    left: 1050px;
    gap: .6vw;
    font-size: 2vw;
    border-radius: 100px;
    letter-spacing: .1vw;
    display: flex;
}
/* Health Bar*/
player-health.svelte-ilri4k.svelte-ilri4k {
    --value: 0%;
    height: 3vw;
    width: 20vw;
    border-radius: 100px;
    left: 250%;
    overflow: hidden;
    background: transparent;
    position: relative
}
player-health[data-low=true].svelte-ilri4k .indicator.svelte-ilri4k {
    background: rgb(255, 115, 115)
}
.indicator.svelte-ilri4k.svelte-ilri4k {
    height: 100% !important;
    transition: width 1.25s ease-in-out;
    border-radius: 100px !important;
    background: #91ff91
}

/*Chat*/
message-entry.svelte-y1dwy4 {
    background: rgba(0, 0, 0, .2);
    border-radius: .1vw;
    border-radius: 100px;
    transition: transform var(--speed) ease-in-out, color var(--speed) ease-in-out, opacity 0.1s ease-in-out
}
.text.svelte-y1dwy4 {
    font-size: 1.2vw;
}
.username.svelte-y1dwy4 {
    font-size: 1.3vw
}
message-entry.svelte-y1dwy4:hover {
    border-radius: 100px;
}
chat-entry.svelte-12jqi05 {
    border-radius: 100px;
}
chat-list.svelte-12jqi05 {
    max-height: 75vh;
}
/*Ammo*/
player-ammo.svelte-1quzmtf {
    font-size: 2vw;;
    border-radius: 100px;
    color: #fff;
    background: #00000036;
    letter-spacing: .2vw;

}

/*Tab List*/
.text.svelte-1jdbwvh.svelte-1jdbwvh {
    color: rgb(255, 115, 115)
}
.text[data-teamate=true].svelte-1jdbwvh.svelte-1jdbwv {
    color: #91ff91
}
leaderboard-entry.svelte-1m58059 {
    top: 50%;
    left: 50%;
    max-height: 85vh;
}
/*Elimination Points*/
reward-entry.svelte-10o8s4f {
    position: fixed;
    top: 50px;
    right: 450px;
    display: flex;
    font-size: 2vw;
}
/*Hit Marker*/
hitmarker-entry[data-active=true].svelte-sj8fm {
    color: rgb(255, 115, 115);
    opacity: 0.1
}

/*Game End Board*/
game-status-text.svelte-1brblo8 {
    font-size: 8.5vw;
}
leaderboard-entry.svelte-1brblo8 {
    display: flex;
}
th.svelte-1brblo8 {
    color: #fff;
    font-size: 2vw;
}
th.svelte-1brblo8 {
    text-align: left
}

endboard-player[data-teamate=true].svelte-11jxrum.svelte-11jxrum.svelte-11jxrum {
    --color: #91ff91
}
endboard-player[data-teamate=false].svelte-11jxrum.svelte-11jxrum.svelte-11jxrum {
    --color: rgb(255, 115, 115)
}
/*FPS & Ping*/
game-stats.svelte-1rhpu7j {
    position: fixed;
    top: 0vw;
    left: 870px;
    gap: 1.4vw;
    font-size: 2vw;
    border-radius: 100px;
}
/*Kill Counter*/
player-kills.svelte-czp1mf.svelte-czp1mf {
    font-size: 1.5vw;
    border-radius: 100px;
}
player-kills.svelte-czp1mf span.svelte-czp1mf {
    font-size: 1.5vw
}

/*Username Input*/
username-input.svelte-1hkvi8c input.svelte-1hkvi8c {
    font-size: 1.7vw;
    border-radius: 100px;
    top: 120%;
}

/*Logo*/
.logo.svelte-1hkvi8c {
    display: none;
}
/*Menu*/
.svelte-1hkvi8c {
    border-radius: 100px !important;
}

/* Map Info*/
map-info.svelte-gj3nk1 .name.svelte-gj3nk1 {
    display: none;
}
/*Gamemode Info*/
map-info.svelte-gj3nk1 .mode.svelte-gj3nk1 {
    display: none;
}

/*Error Text*/
.error.svelte-1kn2qqb {
    font-size: 4vw;
    color: rgb(255, 115, 115)
}

/*New Game Button*/
button-list.svelte-1kn2qqb {
    display: flex;
    margin: 2vw;
    margin-top: 0;
    gap: 1vw;
    background: transparent;
}
button.svelte-1kn2qqb {
    background: transparent;
    font-size: 2.5vw;
    transition: all 1.1s
}
button.svelte-1kn2qqb:hover {
    transform: scale(1.25);
}

/*Weapon Icon*/
player-weapon-display.svelte-1sk37b4.svelte-1sk37b4 {
    display: none;
}

/*Blood Display*/
blood-display.svelte-qlap5v.svelte-qlap5v {
    display: none;
}
blood-display.svelte-qlap5v img.svelte-qlap5v {
    display: none;
}

/*Top Left Info*/
.topLeft.svelte-1hkvi8c {
    background: #00000036;
    border-radius: 15px !important;
}

.topLeft.svelte-1hkvi8c a.svelte-1hkvi8c:hover {
    text-decoration: none !important;
    font-size: 1.7vw;
    transition: .7s
}


/*How To Play Display*/
.guideHolder.svelte-1hkvi8c {
    display: none !important;
}

/*Classes UI*/
loadout-entry.svelte-1okfwdr.svelte-1okfwdr,
classes-entry.svelte-1okfwdr.svelte-1okfwdr {
    color: #fff;
    font-size: 3.1vw;
}
.play.svelte-1okfwdr.svelte-1okfwdr {
    font-size: 1.9vw;
    transition: transform .5s ease-in-out, color .5s ease-in-out;
    color: gray
}
.play.svelte-1okfwdr.svelte-1okfwdr:hover {
    transform: scale(1.3);
    color: #fff
}
class-entry.svelte-1okfwdr.svelte-1okfwdr {
    gap: 2vw;
}
class-entry.svelte-1okfwdr .icon.svelte-1okfwdr {
    border-radius: 100px;
    background-color: transparent
}
class-entry.svelte-1okfwdr img.svelte-1okfwdr {
    border-radius: 100px
}
.anchor.svelte-1okfwdr.svelte-1okfwdr:hover {
    transform: scale(1.2);
    transition: transform .75s ease-in-out;
}

.anchor.svelte-1okfwdr.svelte-1okfwdr:hover {
    text-decoration: none;
}

/*Server UI*/
mode-entries.svelte-1kjed7m span[data-active=true].svelte-1kjed7m {
    color: #fff;
    background: transparent;
}

.mode.svelte-7ts1i {
    font-weight: 700;
    color: #fff
}

mode-entries.svelte-1kjed7m span.svelte-1kjed7m {
    border-radius: 100px;
    background: transparent
}

/*More UI*/
:root {
    --anchor: #00000036;
}

modal-entry.svelte-16cb4xp.svelte-16cb4xp {
    background: transparent;
}

modal-container.svelte-16cb4xp.svelte-16cb4xp {
    background: #00000036;
    top: 38%;
    border-radius: 30px;
    box-shadow: transparent;
    transition: all 3s;
    transform: translate(-50%, -50%) scale(0.8)
}

modal-container[data-state=open].svelte-16cb4xp.svelte-16cb4xp {
    opacity: 1;
    animation: svelte-16cb4xp-bubble 4s ease 0s 1 normal none;
}
modal-container[data-state=close].svelte-16cb4xp.svelte-16cb4xp {
    opacity: 0;
}

.title.svelte-etlhhs.svelte-etlhhs {
    background: transparent;
}

.title.svelte-etlhhs.svelte-etlhhs:hover {
    background: transparent
}

side-item.svelte-tqacjx:hover .text.svelte-tqacjx {
    display: block;
    transform: translateY(-10%) scale(1.3);
    color: #fff;
    transition: transform 1s ease-in-out;
    text-shadow: 0 1px 0 transparent, 0 2px 0 transparent, 0 3px 0 transparent, 0 4px 0 transparent, 0 5px 0 transparent, 0 6px 0 transparent
}

/* Settings UI*/
.button.delete.svelte-19xmdkt.svelte-19xmdkt {
    color: #fff
}
.button.svelte-19xmdkt:hover i.svelte-19xmdkt {
    transform: scale(1.5);
    transition: transform .75s ease-in-out;
    color: #fff
}

/*Scroll Track*/
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/*Click To Play Display*/
.svelte-8yebgp {
    font-size: 0vw !important;
}

/*Ad Blocker*/
.menu-left-adholder.svelte-1hkvi8c {
    display: none;
}
 
.menu-bottom-adholder.svelte-1hkvi8c {
    display: none;
}

.end-bottom-adholder.svelte-15p5mh4.svelte-15p5mh4 {
    display: none;
}
